/* 日间模式（默认） */
:root {
  --p-theme-bg: #fff;
  --p-border-color: #d9d9d9;
  --p-border-light-color: #f0f0f0;
  --p-primary-color: #4096ff;
  --p-danger-color: #f5222d;
  --app-bg: #f5f5f5;
  --app-text: #000000;
  --p-table-thead-bg-color: #f2f3f6;
  --p-table-row-bg-color:#fff;
  --p-striped-bg-color: #f2f3f6;
  --p-table-row-hover-bg-color: #e6e7ea;

  --p-pagination-bg-color: #fff;
  --p-pagination-color:#323335;
  --p-pagination-border-color: #bbbdbf;
  --p-pagination-active-bg-color: #323335;
  --p-pagination-active-color: #fff;
  --p-pagination-hover-bg-color: #4D4D4D;
}

/* 夜间模式 */
:root[data-theme='dark'] {
  --p-theme-bg: #1f1f1f;
  --p-border-color: #424242;
  --p-border-light-color: #303030;
  --p-primary-color: #177ddc;
  --p-danger-color: #a61d24;
  --app-bg: #141414;
  --app-text: #ffffff;
  --p-table-thead-bg-color: #323335;
  --p-table-row-bg-color:#202020;
  --p-striped-bg-color: #323335;
  --p-table-row-hover-bg-color: #4D4D4D;
  
  --p-pagination-bg-color: #202020;
  --p-pagination-color:#9b9fa3;
  --p-pagination-border-color: #9b9fa3;
  --p-pagination-active-bg-color: #323335;
  --p-pagination-active-color: #fff;
  --p-pagination-hover-bg-color: #4D4D4D;
}

/* 应用主题到整个页面 */
body {
  background-color: var(--app-bg);
  color: var(--app-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#app {
  background-color: var(--app-bg);
  color: var(--app-text);
}

